.ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.w-50{
    width: 50%;
}

.W-70{
    width: 70%;
}



.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}